In [31]:
import pandas as pd
import math

In [40]:
df = pd.read_csv('../data/specs_clean.csv')

In [41]:
df.describe()

,original_price,announce_date,format,flen_min,flen_max,f_min,elements,groups,minimum_focus,maximum_magnification,weight
count,335.000000,335.000000,335.000000,335.000000,335.000000,335.000000,335.000000,335.000000,335.000000,335.000000,335.000000
mean,1393.106731,2014.528358,1.612806,59.559701,74.426866,2.965970,13.328358,10.047761,0.583164,0.091140,655.280597
std,2216.141769,2.743245,0.403958,95.850468,120.390830,1.178261,5.025051,3.723705,0.729383,0.595725,719.329340
min,98.720000,2010.000000,1.000000,7.500000,-1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,407.490000,2012.000000,1.330000,17.000000,-1.000000,2.000000,10.000000,8.000000,0.250000,0.120000,214.500000
50%,706.520000,2014.000000,2.000000,28.000000,-1.000000,2.800000,13.000000,10.000000,0.340000,0.190000,480.000000
75%,1397.475000,2017.000000,2.000000,58.000000,105.000000,3.750000,17.000000,12.000000,0.700000,0.250000,771.500000
max,16296.950000,2020.000000,2.000000,800.000000,600.000000,12.000000,32.000000,24.000000,5.900000,5.000000,4590.000000

In [42]:
# check if focal length and aperture allows to select unique lenses
has_duplicate = set()
for ilens in range(len(df)):
    iflen_min = df['flen_min'].iloc[ilens]
    iflen_max = df['flen_max'].iloc[ilens]
    if_min = df['f_min'].iloc[ilens]
    ibrand = df['brand'].iloc[ilens]
    df_other = df.drop([ilens])
    df2 = df_other[(df_other['brand']==ibrand)&(df_other['flen_min']==iflen_min)&(df_other['flen_max']==iflen_max)&(df_other['f_min']==if_min)]
    if len(df2)>0:
        printed = False
        for i in range(len(df2)):
            reldiff = abs(df['original_price'].iloc[ilens]-df2['original_price'].iloc[i])/df['original_price'].iloc[ilens]
            if  reldiff>-1:
                if not printed: 
#                     print(df['lens_id'].iloc[ilens])
                    has_duplicate.add(df['lens_id'].iloc[ilens])
                    printed = True
#                 print(df2['lens_id'].iloc[i])
                has_duplicate.add(df2['lens_id'].iloc[i])

In [43]:
print(has_duplicate)
print(len(has_duplicate))

set()
0

In [17]:
#df = df[~df['lens_id'].isin(has_duplicate)]