In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

import pandas as pd
import math

df = pd.read_csv('../data/lens_specs.csv')

In [2]:
import pandas as pd
import math

In [3]:
df = pd.read_csv('../data/lens_specs.csv')

In [4]:
df.describe()

,original_price,announce_date,format,is_apsc,is_u43,flen_min,flen_max,f_min,elements,groups,minimum_focus,maximum_magnification,weight
count,398.000000,398.000000,200.0,1.340000e+02,64.0,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.00000
mean,1401.714070,2014.273869,2.0,1.330000e+00,1.0,59.363065,74.329146,2.934673,13.173367,9.982412,0.590905,0.102771,649.38191
std,2184.730638,2.731083,0.0,2.228778e-16,0.0,95.234799,119.635234,1.166883,4.990933,3.716963,0.725218,0.621948,713.80110
min,98.720000,2010.000000,2.0,1.330000e+00,1.0,7.500000,-1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000
25%,406.497500,2012.000000,2.0,1.330000e+00,1.0,18.000000,-1.000000,2.000000,10.000000,8.000000,0.250000,0.120000,217.50000
50%,740.237500,2014.000000,2.0,1.330000e+00,1.0,30.000000,-1.000000,2.800000,13.000000,10.000000,0.350000,0.190000,462.50000
75%,1417.375000,2016.000000,2.0,1.330000e+00,1.0,56.000000,105.000000,3.500000,17.000000,12.750000,0.700000,0.250000,779.50000
max,16296.950000,2020.000000,2.0,1.330000e+00,1.0,800.000000,600.000000,12.000000,32.000000,24.000000,5.900000,5.000000,4590.00000

In [ ]:
# check if focal length and aperture allows to select unique lenses
has_duplicate = set()
for ilens in range(len(df)):
    iflen_min = df['flen_min'].iloc[ilens]
    iflen_max = df['flen_max'].iloc[ilens]
    if_min = df['f_min'].iloc[ilens]
    ibrand = df['brand'].iloc[ilens]
    df_other = df.drop([ilens])
    df2 = df_other[(df_other['brand']==ibrand)&(df_other['flen_min']==iflen_min)&(df_other['flen_max']==iflen_max)&(df_other['f_min']==if_min)]
    if len(df2)>0:
        printed = False
        for i in range(len(df2)):
            reldiff = abs(df['original_price'].iloc[ilens]-df2['original_price'].iloc[i])/df['original_price'].iloc[ilens]
            if  reldiff>.3:
                if not printed: 
#                     print(df['lens_id'].iloc[ilens])
                    has_duplicate.add(df['lens_id'].iloc[ilens])
                    printed = True
#                 print(df2['lens_id'].iloc[i])
                has_duplicate.add(df2['lens_id'].iloc[i])

In [9]:
print(has_duplicate)
print(len(has_duplicate))

{'nikon_85_1p8g', 'sigma_30_1p4_dc_dn_c_mft', 'panasonic_14-42_3p5-5p6_ii', 'panasonic_x_14-42_3p5-5p6_pz', 'tamron_18-270_3p5-6p3_vc_pzd', 'sigma_30_1p4_dc_dn_c', 'leica_m_35_1p4', 'canon_70-200_2p8_is_iii_usm', 'pentax_hd_da_40_2p8_ltd', 'fujifilm_xc_50-230_ii', 'zeiss_milvus_21_2p8', 'tamron_18-200_3p5-6p3_di_ii_vc', 'panasonic_35-100_2p8', 'sigma_18-200_3p5-6p3_c', 'nikon_z_35_1p8_s', 'canon_rf_70-200_2p8l_is_usm', 'sigma_150-600_5p0-6p3_dg_os_hsm_s', 'canon_rf_24-70_2p8l_is_usm', 'canon_ef_24-105_4_usm_ii', 'canon_rf_24-105_4p0-7p1_is_stm', 'fujifilm_xf_18-55', 'sigma_150-600_5p0-6p3_dg_os_hsm_c', 'fujifilm_mk_18_55_t2p9', 'sigma_a_30_1p4', 'fujifilm_xf_56mm_apd', 'fujifilm_mkx_18_55_t2p9', 'olympus_m_75-300_4p8-6p7', 'tamron_70-300_4-5p6_di_vc_usd', 'canon_70-300_4-5p6l_is', 'fujifilm_xf_56mm', 'olympus_m_40-150_4-5p6', 'nikon_35_1p8g', 'pentax_xs_40_2', 'nikon_50_1p8_g_sp_ed', 'canon_24-70_2p8_ii', 'sony_35_1p8', 'sony_e_50_1p8', 'tamron_18-270_3p5-6p3_pzd', 'nikon_50_1p8_g', 'panasonic_35-100_2p8_ii', 'sony_e_35_1p8', 'sony_fe_35_1p8', 'nikon_z_85_1p8_s', 'zeiss_loxia_21_2p8', 'canon_24_2p8_stm', 'olympus_m_75-300_4p8-6p7_ii', 'canon_24_2p8_is', 'sony_fe_50_1p8', 'tamron_18-200_3p5-6p3_di_iii_vc', 'tamron_70-300_4-5p6_di_usd', 'sigma_18-200_3p5-6p3_os_hsm', 'olympus_m_40-150_4-5p6_r', 'canon_rf_24-105_4l_is_usm', 'canon_70-300_4p0-5p6_is_ii_usm', 'leica_tl_35_1p4_asph', 'fujifilm_xc_50-230'}
56

In [10]:
df = df[~df['lens_id'].isin(has_duplicate)]

In [11]:
df.describe()

,original_price,announce_date,format,is_apsc,is_u43,flen_min,flen_max,f_min,elements,groups,minimum_focus,maximum_magnification,weight
count,342.000000,342.000000,173.0,114.00,55.0,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000
mean,1479.318436,2014.350877,2.0,1.33,1.0,62.016082,67.845029,2.936257,13.184211,9.964912,0.582953,0.077287,677.675439
std,2312.297984,2.693478,0.0,0.00,0.0,101.861705,114.038976,1.180450,4.957708,3.706054,0.752927,0.537729,744.978736
min,98.720000,2010.000000,2.0,1.33,1.0,7.500000,-1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,428.750000,2012.000000,2.0,1.33,1.0,16.000000,-1.000000,2.000000,10.000000,8.000000,0.250000,0.120000,227.500000
50%,756.872500,2014.000000,2.0,1.33,1.0,28.000000,-1.000000,2.800000,13.000000,10.000000,0.300000,0.190000,490.000000
75%,1497.990000,2016.000000,2.0,1.33,1.0,59.000000,83.750000,3.500000,16.000000,12.000000,0.700000,0.250000,797.500000
max,16296.950000,2020.000000,2.0,1.33,1.0,800.000000,600.000000,12.000000,32.000000,24.000000,5.900000,3.000000,4590.000000

In [13]:
df.to_csv('../data/specs_clean.csv', index=False)

In [15]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2

# -----------  Setting up database
dbname, username = 'lens_db', 'ana'
engine = create_engine(f'postgresql://{username}:nonsense@localhost/{dbname}')
print(f'Created engine: {engine.url}')
if database_exists(engine.url):
  print(f'Database {dbname} found.')
else:
  print(f'Database {dbname} not found. Creating database...',)
  create_database(engine.url)
  print('Done.')

df.to_sql('specs_clean', engine, if_exists='replace')
print(f'Wrote specs_clean table to {dbname}.')

Created engine: postgresql://ana:nonsense@localhost/lens_db
Database lens_db found.
Wrote specs_clean table to lens_db.